################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework_1/.vs/Homework_1/v15/.suo
